@model CvProjekt.Models.User

@{
    ViewData["Title"] = "Min Profil";
}

<div class="container">
    <h1>Min Profil</h1>
    @if (Model != null)
    {
        <h4>Välkommen @Model.FirstName @Model.LastName</h4>
        <h6>Epost: @Model.Email</h6>
    }
    else
    {
        <h4>Ingen information hittad</h4>
    }

    <h2>Mina kompetenser:</h2>
    <ul>
    @foreach (var q in Model.Resume.Qualifications)
    {
        <li>@q.Name</li>
    }
    </ul>
</div>
