@model CvProjekt.Models.User

@{
    ViewData["Title"] = "Inställningar";
}

<div class="container mb-3 p-5">
    <H3> Epostadress @Model.Email </H3>
    <br />
    <a asp-controller="Profile" asp-action="ChangePassword" class="btn btn-primary">Byt Lösenord</a>
    @if (@Model.IsActive == true)
    {
        <form asp-controller="Profile" asp-action="Avaktivera" method="post" class="d-inline">
            <button type="submit" class="btn btn-primary">Avaktivera konto</button>
        </form>
    }
    else
    {
        <form asp-controller="Profile" asp-action="Aktivera" method="post" class="d-inline">
            <button type="submit" class="btn btn-primary">Aktivera konto</button>
        </form>
    }
    @if (@Model.IsPrivate == true)
    {
        <form asp-controller="Profile" asp-action="GoPublic" method="post" class="d-inline">
            <button type="submit" class="btn btn-primary">Gör kontot publikt</button>
        </form>
    }
    else
    {
        <form asp-controller="Profile" asp-action="GoPrivate" method="post" class="d-inline">
            <button type="submit" class="btn btn-primary">Gör kontot privat</button>
        </form>
    }

</div>










