@model CvProjekt.Models.Message
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Skicka Meddelande";
    var currentUser = await UserManager.GetUserAsync(User);
}

<h1>Skicka meddelande</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="SendMessage" method="post">
    
    <div class="mb-3">
        <label class="form-label">Till:</label>
        <div class="fw-bold">@Model.ToUser.FirstName @Model.ToUser.LastName</div>
        
        <input asp-for="ToUserId" type="hidden" />
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Från:</label>
        
        @if (currentUser != null)
        {
            <p class="form-control-plaintext">@currentUser.FirstName @currentUser.LastName (Inloggad)</p>
        }
        else
        {
            <input asp-for="SenderName" class="form-control" placeholder="Skriv ditt namn här..." required />
            <span asp-validation-for="SenderName" class="text-danger"></span>
        }
    </div>
    <div class="mb-3">
        <label class="form-label">Meddelande</label>
        <textarea asp-for="Text" class="form-control" rows="6"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Skicka</button>
</form>




