@model CvProjekt.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registrera";
}

<h1>Registrera</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="Register" asp-controller="Account">
    <div class="card mb-4 shadow-sm border-0 bg-light" style="width: 50%;">
        <div class="card-body p-4">
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label>Förnamn: </label>
                </div>
                <div class="col-8">
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label>Efternamn: </label>
                </div>
                <div class="col-8">
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label>Adress: </label>
                </div>
                <div class="col-8">
                    <input asp-for="Adress" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label>E-post: </label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label>Lösenord: </label>
                </div>
                <div class="col-8">
                    <input type="password" asp-for="Password" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label>Bekräfta lösenord: </label>
                </div>
                <div class="col-8">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Registrera</button>
                </div>
            </div>
        </div>
    </div>
</form>

